<div class="centered">
    <form [formGroup]="loginForm" (ngSubmit)="saveTodo()">
        <div class="form-group">
            <label for="emailForm">E-mail<a class="itemRequerido"><span>*</span></a></label>
            <input id="emailForm" type="text" placeholder="E-mail" class="form-control" formControlName="username"
                autocomplete="off" spellcheck="off" />
            <span style="color:Red;"
                *ngIf="loginForm.controls['username'].touched && loginForm.controls['username'].errors?.required">Este
                campo
                es
                requerido!</span>
        </div>
        <div class="form-group">
            <label for="pwForm">Password<a class="itemRequerido"><span>*</span></a></label>
            <input id="pwForm" type="password" placeholder="Password" class="form-control" formControlName="password"
                autocomplete="off" spellcheck="off" />
            <span style="color:Red;"
                *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors?.required">Este
                campo
                es
                requerido!</span>
        </div>
    </form>

    <div class="inline">
        <input *ngIf="showLogin" type="button" value="Ingresar" (click)="authenticate()" [disabled]="loginForm.invalid"
            [ngClass]="{'disabledInput' : loginForm.invalid}">

        <input class="signUp" type="button" value="Registrarse" (click)="signUp()"
            [ngClass]="{'signUpFull' : !showLogin}">

        <input class="returnLogin" *ngIf="!showLogin" type="button" value="Regresar A Login" (click)="showLogin=true"
            [ngClass]="{'signUpFull' : !showLogin}">
    </div>
</div>