.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: left;
}

div input {
border-radius: 5px;
}

input[type= button] {
background-color: DodgerBlue;
border: none;
color: white;
padding: 6px 16px;
text-align: center;
font-size: 17px;
cursor: pointer;
border-radius: 12px;
min-width: 130px;
}