<h3>{{ title }} {{ titleDescription }}</h3>

<div class="centered">

    <div class="form-group">
        <label for="place">Dirección Origen<a class="itemRequerido"><span>*</span></a></label>
        <input id="place" type="text" #search [formControl]="searchControlOrigin" placeholder="Dirección Origen"
            autocomplete="off" autocapitalize="off" spellcheck="off" />

        <!-- <label for="destination">Dirección Destino<a class="itemRequerido"><span>*</span></a></label>
        <input id="destination" type="text" #searchDestination [formControl]="searchControlDestination"
            placeholder="Direcciòn Destino" autocomplete="off" spellcheck="off" /> -->
    </div>

    <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker *ngFor="let latlng of latlongs; let i=index;" [latitude]="latlng.latitude"
            [longitude]="latlng.longitude" [markerDraggable]="true" [label]="i+1+''"></agm-marker>
    </agm-map>

</div>

<div class="modalNotify">
    La distancia entre los puntos elegidos es de: {{distance}} KM.
</div>